<section class="content-header">
	<h1>
		Post <small>List</small>
	</h1>
</section>

<section class="content">
	<div class="row">
		<div class="col-sm-12">
			<div class="nav-tabs-custom">
				<ul class="nav nav-tabs ui-sortable-handle">
					<li class="active"><a style="padding-left:10px" ng-click="activeTab(1)" data-toggle="tab" aria-expanded="false">Published</a></li>
					<li class=""><a style="padding-left:10px" ng-click="activeTab(0)" data-toggle="tab" aria-expanded="true">Draft</a></li>

					<li class="pull-right"><a class="btn btn-default pull-right btn-sm" ui-sref="post-create"><i class="fa fa-plus"></i> Add Post</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="tab_1">
						<table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
							<thead>
								<tr role="row">
									<th width="150px" class="sorting_asc">Author</th>
									<th>Title</th>
									<th width="50px">Category</th>							
									<th width="135px">Created at</th>
									<th width="135px">Update at</th>
									<th width="20px">Edit</th>
									<th width="20px">Delete</th>
								</tr>
							</thead>
							<tbody>							
								<tr role="row" class="odd" ng-repeat="post in posts">
									<td class="sorting_1">{{post.author}}</td>
									<td>{{post.title}}</td>
									<td>{{post.category.name}}</td>
									<td>{{post.created_date | date: 'dd-MMMM-yyyy'}}</td>
									<td>{{post.updated_date | date: 'dd-MMMM-yyyy'}}</td>
									<td>
										<a ui-sref="post-update({id: post.id})" class="btn btn-default"><i class="fa fa-edit"></i></a>									
									</td>
									<td>
										<button type="button"  ng-click="remove(post.id, post.title)" class="btn btn-default"><i class="fa fa-remove"></i></button>
									</td>									
								</tr>
							</tbody>
						</table>
						<pagination ng-change="pageChanged()" boundary-links="true" total-items="total" ng-model="currentPage" items-per-page="pageSize" max-size="maxSize" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
					</div>
				</div>
				<!-- /.tab-content -->
			</div>
		</div>
	</div>
</section><!-- /.content -->