@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600italic,600,700,700italic,800,800italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700,100);

html,body {
	height:100%;
	line-height: 1.8;
}

.home-header {
	height: 100%;
	width: 100%;
	background-image: url(/css/images/header-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.logo{
	display:block;
	width:133px;
	height: 39px;
	text-indent: -9999px;
	background-image: url(/css/images/logo.png);
	margin-top: 0;
	margin-bottom: 0;
}

@media (min-width: @screen-md-min){
	.container {
		width: 1020px;		
	}
}
.container{
	margin-bottom: 50px;
	min-height: 500px;
}
.porto-thumb{
	width: 100%;
}
.porto-title{
	font-size: 22px;
	font-family: Montserrat;
	font-weight: 400;
	color:#212121;
	margin-top:8px;
	margin-bottom: 5px;
	line-height: 1;
}
.porto-status{
	font-size: 16px;
	font-family: Montserrat;
	font-weight: 700;
	color:#757575;
	margin:0;
	line-height: 1;
}
.home{
	margin-top:17px;
}

.home > .row > .col-md-4 {
	padding-right: 23px;
    padding-left: 23px;
    padding-top: 23px;
    padding-bottom: 23px;
    text-align: right;
}

.home > .row {
	margin-right: -23px;
	margin-left: -23px;
}

.general-header {
	position: absolute;
	top: 40px;
	left: 40px;
}

#la {
	color: red;
}
.general-header > h1 > a:hover {
	color: #000;
	
}
.general-header a{
	color: #000;
}
.general-header > h1.logo > a{
	font-weight: bold;
}


.general-header a:hover{
	color: #00bfa5;
	text-decoration: none;
}

.main-nav {
	font-size: 16px;
	font-family: Open Sans;
}

.main-nav > li {
	padding-top: 20px;
	line-height: 1;
}

.pagination-wrapper {
	text-align: center;
}
.pagination>li{
	/*padding:0 12.5px;*/
}
.pagination>li>a, .pagination>li>span {
	border : none;
	color:#9e9e9e;
	font-family: Roboto;
	padding: 3px 4px;
    line-height: 1;
    margin:0 12.5px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	background-color: #212121;
}
.footer{
	text-align: center;
	font-family: Roboto;
	font-size: 18px;
	color:#9e9e9e;
	padding-bottom: 40px;	
	width: 100%;
	margin: 0 auto;
}
.footer .brand{
	color:#212121;
}
p{
	font-family: Roboto Slab;
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 20px;
}
h1,h2,h3,h4,h5{
	font-family: Montserrat;
	font-weight: 700;
	color:#212121;
	margin-top:30px;
	margin-bottom: 30px;
}
h1{
	font-size: 60px;
}
h2{
	font-size: 48px;
}
h3{
	font-size: 36px;
}
h4{
	font-size: 30px;
}
h5{
	font-size: 22px;
}
h6{
	font-size: 36px;
	color:#bdbdbd;
}
.page.container,
.blog.container,
.single.container,
.req-form.container,
.archive.container{
	width: 700px;
}
.req-intro.container{
	width:800px;
}
.req-intro-content{
	text-align: center;
	width: 100%;
}	
h2.req-intro-title{
	margin-bottom: 142px;
}
a.req-intro-lang{
	margin-bottom: 40px;
	display: block;
	color:#bdbdbd;
	cursor: pointer;
	font-size: 36px;
	font-family: Open Sans;
	line-height: 1;
}
a.req-intro-lang.active,
a.req-intro-lang:hover{
	color:#212121;
}
.req-intro-content > a.req-intro-button,
button.req-form-button{
	margin-top: 102px;
	margin-bottom: 20px;
	background-color: #212121;
	color:#fff !important;
	width:136px;
	height: 55px;
	font-size: 22px;
	font-family: Roboto;
}
p img{
	width: 100%;
	margin-top:10px;
	margin-bottom: 10px;
}
.post-thumb{
	width: 100%;
	margin-top:40px;
}

.post-meta{
	padding:0;
	margin-top:15px;
}
.single .post-meta{
	margin-top: 25px;
}
.post-meta li:first-child{
	list-style: none;
}
.post-meta li{
	/*display: inline-block;*/
	list-style: disc;
	float: left;
	margin-right: 25px;
	font-style: 16px;
	font-family: Open Sans;
	color:#bdbdbd;
}
.post-meta:after{
	content: '';
	display: table;
	clear: both;
}
h3.post-title{
	font-size: 32px;
	font-family: Open Sans;
	margin-top: 10px;
	margin-bottom: 20px;
	line-height: 1.5;
	font-weight: 400;
}
h2.post-title{
	margin-top: 20px;
}
.post-title:after{
	display: block;
	content: '';
	width: 75px;
	height: 3px;
	background-color: #bdbdbd;
	margin-bottom: 20px;
	margin-top: 20px;
}
h2.post-title:after{
	margin-bottom: 30px;
	margin-top: 30px;
	width: 200px;
}
.porto h2.post-title:after{
	margin-bottom: 20px;
	margin-top: 20px;
}
.porto-details{
	font-family: Open Sans;
	font-weight: 600;
	font-size: 18px;
	color:#212121;
}
.porto-details label{
	font-weight: 400;
	color:#757575;
}
.porto-thumbs-wrapper{
	margin-top:30px;
	margin-left: -8.5px;
	margin-right: -8.5px;
	margin-bottom: 30px;
}
.porto-thumbs-wrapper>div{
	padding: 0 8.5px !important;
}
.author{
	font-size: 12px;
	font-family: Open Sans;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	margin-bottom: 0;
}
.author .prefix{
	color:#bdbdbd;
	text-transform: none;
	letter-spacing: normal;
}

.social-media{
	padding: 0;
	text-align: center;
}
.social-media li{
	display: inline-block;
	font-size: 50px;
	margin:40px 50px;
	color:#bdbdbd;
}
.social-media li a{
	color:#bdbdbd;
}
.social-media li a:hover{
	color:#00bfa5;
}
h3.comments-header{
	color:#bdbdbd;
	font-family: Open Sans;
	font-weight: normal;
	margin-top:0;
		margin-bottom: 40px;
}
.comments{
	list-style: none;
	padding: 0;
}
.comments .author{
	text-transform: none;
	font-size: 22px;
	font-family: Open Sans;
	font-weight: 400;
	font-style: normal;
	line-height: 1;
}

.comments li{
	position: relative;
	padding-left: 137px;
	margin-bottom: 40px;
}
.comments .avatar{
	width: 117px;
	height: 117px;
	position: absolute;
	left: 0;
}
.comments .meta{
		margin-bottom: 5px;
}
.comments .meta a{
	font-size: 14px;
	color:#bdbdbd;
	font-family: Open Sans;
	font-weight: 300;
}
.comments p{
	font-size: 22px;
	font-family:Roboto Slab;
	font-weight: 300;
}
.comments .reply{
	    position: absolute;
    left: 33px;
    top: 125px;
    font-family: Open Sans;
    font-size: 18px;
    color:#bdbdbd;
}
.comments .reply:hover{
	color:#00bfa5;
	text-decoration: none;
}
a:hover{
	color:#00bfa5;
	text-decoration: none;
}
.comments .comments{
	margin-top: 40px;
}
.comment-form .form-control{
	box-shadow: none;
    border-radius: 0;
    height: 42px;
    border: 2px solid #bdbdbd;
}
.comment-form textarea.form-control{
	height: 200px;
}
.comment-form .form-control:hover,
.comment-form .form-control:focus{
	border-color:#212121;
}
.comment-form label{
	font-size: 16px;
	font-family: Roboto;
	color:#9e9e9e;
	font-weight: 400;
}
.comment-form .form-submit{
	text-align: center;
	margin-top: 30px;
}
.form-submit button{
	border-radius: 3px;
	border: 2px solid #bdbdbd;
	color:#bdbdbd;
	padding: 10px 15px;
	font-size: 14px;
	font-family: Roboto;
}
.req-form{
	font-size: 16px;
	font-family: Montserrat;
}
.req-form label{
	text-transform: uppercase;
}
.req-form .form-control{
	padding: 7px 12px;
	border-radius: 0;
	font-size: 24px;
	font-family: Open Sans;
	height: 48px;
	text-transform: uppercase;
	color:#212121;
	background-color:#fcfcfc;
	border:none;
	box-shadow: inset 2px 4px 7px rgba(0,0,0,0.055);
	border-bottom: 1px solid #f2f2f2;
	border-right: 1px solid #f2f2f2;
	margin-bottom: 30px;
}
.req-form .form-control.date{
	display: inline-block;
	width: 70px;
	padding-right: 0px;
	margin-bottom: 20px;
}
.req-form .form-control.date.year{
	width: 82px;
}
.req-form .date-group{
	font-size: 24px;
	font-family: Open Sans;
}
button.req-form-button{
	margin-top:50px;
	border:none;
}
button.req-form-button:hover{
	background-color: #212121;
}
.button-wrapper{
	margin:0;
	text-align: center;
}
.project-form .first-row-group .form-control{
	margin-bottom: 20px;
}
.btn-file {
	position: relative;
	overflow: hidden;
	display: inline block;
	width:114px;
	height: 50px;
	border: 2px solid #bdbdbd;
	font-size: 24px;
	font-family: Open Sans;
	border-radius: 3px;
	color:#bdbdbd;
	margin-bottom: 30px;
	cursor: pointer;
	margin-right: 40px;
}
.btn-file input[type=file],
.btn-file input[type=radio] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}
.btn-file.btn-radio:hover,
.btn-file.btn-radio.active{
	background-color: #00bfa5;
	color:#fff;
	border-color:#fff;
}
.project-form textarea.form-control{
	height: 200px;
}
.archive h3.post-title{
	margin-bottom:5px;
}
.archive h3.post-title:after{
	display: none;
}
.archive article{
	padding-left: 209px;
	position: relative;
	padding-top:20px;
	padding-bottom: 40px;
	border-bottom: 1px solid #bdbdbd;
}
.archive .header{
	margin-bottom:0;
	border-bottom: 1px solid #bdbdbd;
	text-align: center;
}
.archive .header h4{
	font-family: Montserrat
}
.archive .header h6{
	margin-bottom: 40px;
	font-family: Open Sans;
	font-size: 400;
}
.archive .small-post-thumb{
	display: block;
	position: absolute;
	left: 0;
	top:40px;
	width: 169px;
	min-height: 154px;
	max-height: 350px;
	background-color: #bdbdbd;
}
