.x{
	position: relative;
	height: 645px;
	width: 100%;
}
.center{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -256px;
	margin-top: -256px;
}
.pagination{
	margin:0;
}

.loading{
	 width: 500px;
    height: 500px;
    margin: 0 auto;
    position: relative;
}

.loading>img {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -150px;
}

img.ng-thumb {
	height: 100px !important
}

.content{
	width:auto !important;
	min-height: auto !important;
	margin: 10px !important;

}

.ng-gallery-content > .ng-thumbnails-wrapper {
	bottom: 0px !important
}

.detail-project span{
	position: absolute;
	left: 250px;
}