{{#section 'head'}}
<title>XYZ - About</title>
{{/section}}
<div class="page container">
	<div class="row">
		<div class="col-md-12">
			<h1>{{title}}</h1>
			<div  class="content">
				{{{content}}}	
			</div>
		</div>
	</div>
</div>

{{#section 'jquery'}}
<script type="text/javascript">
	$(document).ready(function(){		
		$('.content img').each(function(i, element){
			var captionImage = $(element).attr("alt");
			$(element).wrap('<div class="image-wrapper"></div>')
			$('.image-wrapper').append('<div class="caption-image"></div');
			$('.caption-image').append('<hr align="left" />');
			$('.caption-image').append('<p>' + captionImage + '</p>');
		});
	})
</script>
{{/section}}