{{#section 'head'}}
<title>XYZ - Blog</title>
{{/section}}
<div class="blog container">
	<div class="row">
		<div class="col-sm-12">
			{{#each data}}
			<article>
				<img class="post-thumb" src="{{header_image}}" />
				<ul class="post-meta">
					<li><span><a href="/category/search?q={{category.name}}&type=post">{{category.name}}</a></span></li>
					<li><span>{{visitor}} Reads</span></li>
					<li><span>{{liker}} Likes</span></li>
					<li><span>{{totalComment}} Comments</span></li>
				</ul>
				<a href="/blog/{{id}}"><h3 class="post-title">{{title}}</h3></a>
				<summary locid="descriptionID">
					{{{content}}}
				</summary>
				<p class="author"><span class="prefix">By </span><a href="/profile/{{authorId}}">&nbsp;{{author}}</a></p>
			</article>
			{{/each}}
		</div>
	</div>
</div>
<div class="row pagination-wrapper">
	<div class="col-md-12">
		<nav>
			<ul class="pagination">
				{{{paginateHelper pagination}}}
			</ul>
		</nav>
	</div>
</div>