{{#section 'head'}}
<title>XYZ - Blog</title>
{{/section}}
<div class="blog container">
	<div class="row">
		<div class="col-sm-12">
			{{#each data}}
			<article>
				<img class="post-thumb" src="{{header_image}}" />
				<ul class="post-meta">
					<li><a href="/category/search?q={{category.name}}&type=post">{{category.name}}</a></li>
					<li>{{visitor}} Reads</li>
					<li>{{liker}} Likes</li>
					<li>{{totalComment}} Comments</li>
				</ul>
				<a href="/blog/{{id}}"><h3 class="post-title">{{title}}</h3></a>
				<summary locid="descriptionID">
					{{{content}}}
				</summary>
				<a class="btn btn-default" href="/blog/{{id}}">Read More</a>
				<br></br>
				<p class="author"><span class="prefix">By </span><a href="/profile/{{authorId}}"> {{author}}</a></p>
			</article>
			{{/each}}
		</div>
	</div>
</div>
<div class="row pagination-wrapper">
	<div class="col-md-12">
		<nav>
			<ul class="pagination">
				{{{paginateHelper pagination}}}
			</ul>
		</nav>
	</div>
</div>