{{#section 'head'}}
<title>XYZ - Form</title>
{{/section}}
<div class="req-form container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Langkah 1</h2>
      <form role="form" action="/client-form" method="post">
        <div class="form-group">
          <label>Nama*</label>
          <input type="text" name="name" class="form-control" id="exampleInputEmail1" placeholder="Masukan Nama">
        </div>
        <div class="form-group">
          <label>Tanggal Lahir*</label>
          <div class="date-group">
          <input type="number" name="date" class="form-control date" id="exampleInputPassword1" placeholder="DD"> / 
          <input type="number" name="month" class="form-control date" id="exampleInputPassword1" placeholder="MM"> / 
          <input type="number" name="year" class="form-control date year" id="exampleInputPassword1" placeholder="YYYY">
          </div>
        </div>
        <div class="form-group">
          <label>Jenis Kelamin*</label><br />
           <span class="btn btn-file btn-radio">
            Perempuan  <input type="radio" name="gender" class="form-control" id="exampleInputEmail1" value="Perempuan">
          </span>
          <span class="btn btn-file btn-radio">
            Laki-laki  <input type="radio" name="gender" class="form-control" id="exampleInputEmail1" value="Laki-laki">
          </span>
        </div>
        <div class="form-group">
          <label>Negara Asal*</label>
          <input type="text" name="nationality" class="form-control" id="exampleInputEmail1" placeholder="Masukan Negara Asal Anda">
        </div>
        <div class="form-group">
          <label>Alamat Email*</label>
          <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Masukan Email">
        </div>
        <p class="button-wrapper">
        <button type="submit" class="btn btn-primary req-form-button">Submit</button>
        </p>
      </form>
    </div>
  </div>
</div>

{{#section 'jquery'}}

<script type="text/javascript">
  $('.form-group span input').on('click', function(){
    $('.form-group span').removeClass('active');
    $('input:checked').parent().addClass('active');
  })
</script>

{{/section}}