{{#section 'head'}}
<title>XYZ - Form</title>
{{/section}}
<div class="single container">
	<div class="row">
		<div class="col-sm-12">
			{{#if ind}}
			<h2>Selesai</h2>
			<p> Terimakasih Sudah Mengisi Seluruh Form, Jika terjadi kesalahan dalam pengisian data sebelumnya,
				anda bisa menulisakan pada colom "Apa yang Anda Inginkan" bahwa project atas nama anda sebelumnya terjadi kesalahan</p>
				{{/if}}
				{{#if eng}}
				<h2>Finish</h2>
				<p> Thank Already Fill Entire Form,  if an error occurs during data entry earlier, you can write on column "Tel Us Your Will" 
					that project on your behalf before something goes wrong</p>
					{{/if}}
				</div>
			</div>
		</div>