<div class="home-header"></div>
<div class="container home">
	<div class="row">
		{{#each data}}
		{{! I'm in a new block...and the context has changed }}
		<div class="col-md-4">
			<a href="/portfolio/{{id}}">
				<img src="{{header_image}}" class="porto-thumb"></img>
				<h3 class="porto-title">{{title}}</h3>
				<p class="porto-status">{{status}}</p>
			</a>
		</div>
		{{/each}}
		<!-- <div class="col-md-4">
			<img src="images/10830706_861274663904461_920499282494047353_o.jpg" class="porto-thumb"></img>
			<h3 class="porto-title">Anton's House</h3>
			<p class="porto-status">built</p>
		</div>
		<div class="col-md-4">
			<img src="images/10830706_861274663904461_920499282494047353_o.jpg" class="porto-thumb"></img>
			<h3 class="porto-title">Anton's House</h3>
			<p class="porto-status">built</p>
		</div>
		<div class="col-md-4">
			<img src="images/10830706_861274663904461_920499282494047353_o.jpg" class="porto-thumb"></img>
			<h3 class="porto-title">Anton's House</h3>
			<p class="porto-status">built</p>
		</div>
		<div class="col-md-4">
			<img src="images/10830706_861274663904461_920499282494047353_o.jpg" class="porto-thumb"></img>
			<h3 class="porto-title">Anton's House</h3>
			<p class="porto-status">built</p>
		</div> -->
	</div>
</div>
<div class="row pagination-wrapper">
	<div class="col-md-12">
		<nav>
			<ul class="pagination">
				<li>
					<a href="#" aria-label="Previous">
						<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
					</a>
				</li>
				<li class="active"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li>
					<a href="#" aria-label="Next">
						<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
