{{#section 'head'}}
<title>XYZ - Blog</title>
<meta property="og:image" content="{{fullUrl}}"/>
{{/section}}
<div class="single container">
	<div class="row">
		<div class="col-sm-12 profile">
			<article>
				<div style="position: relative">
					<img class="post-thumb" src="{{image}}" />
					<div class="small-side-bar-top">
						<hr class="small-hr" size="1px" width="60px" />
						<p><em>about the autor</em></p>
					</div>
					<div class="small-side-bar-social-media">
						<a href="{{google_plus}}" class="facebook" target="_blank" title="http://facebook.com">
							<i class="fa fa-google-plus"></i>
						</a>
						<br />
						<a href="{{tumblr}}" class="facebook" target="_blank" title="http://facebook.com">
							<i class="fa fa-tumblr"></i>
						</a>
						<br />
						<a href="{{facebook}}" class="facebook" target="_blank" title="http://facebook.com">
							<i class="fa fa-facebook"></i>
						</a>
						<br />
						<a href="{{twitter}}" class="facebook" target="_blank" title="http://facebook.com">
							<i class="fa fa-twitter"></i>
						</a>
					</div>
				</div>
				<h2 class="profile-name">{{fullname}}</h2>
				<div  class="content">
					{{{description}}}	
				</div>
			</article>
			<hr size="1px" width="700px" />
			<div class="archive">
				{{#each posts}}
				<article>
					<a href="/blog/{{id}}">
						<div class="small-post-thumb">
							<img src="{{header_image}}" />
						</div>
					</a>
					<ul class="post-meta">
						<li><a href="/category/search?q={{category.name}}&type=post">{{category.name}}</a></li>
						<li>{{visitor}} Reads</li>
						<li>{{liker}} Likes</li>
						<li>{{totalComment}} Comments</li>
					</ul>
					<a href="/blog/{{id}}">
						<h3 class="post-title">{{title}}</h3>
					</a>
					{{{content}}}
					<p class="author"><span class="prefix">By </span>{{../fullname}}</p>
				</article>
				{{/each}}		
				<div class="pagination-wrapper">
					<nav>
						<ul id="pagination-demo" class="pagination-sm"></ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>

{{#section 'jquery'}}
<script type="text/javascript">
	$(document).ready(function(){		
		var limit = 3;
		var total = {{totalPosts}};
		var totalPages = Math.floor(total / limit);
		if(totalPages <= 1) {
			totalPages = 1;
		};
		$('.content img').each(function(i, element){
			var captionImage = $(element).attr("alt");
			$(element).wrap('<div class="image-wrapper"></div>')
			$('.image-wrapper').append('<div class="caption-image"></div');
			$('.caption-image').append('<hr align="left" />');
			$('.caption-image').append('<p>' + captionImage + '</p>');
		});
		$('#pagination-demo').twbsPagination({
			totalPages: totalPages,
			visiblePages: 4,
			initiateStartPageClick: false,
			first : false,
			next : '<i class="glyphicon glyphicon-arrow-right"></i>',
			prev : '<i class="glyphicon glyphicon-arrow-left"></i>',
			last : false,
			onPageClick: function (event, page) {
				
				$.ajax({
					url : '/profile/' + {{id}} + '?page=' + page + '&limit=' + limit,
					type : 'GET',
					complete : function(data){
						$(".archive > article").html(data.responseText);
					}
				})
			}
		});
	})
</script>
{{/section}}
