{{#section 'head'}}
<title>XYZ - Form</title>
{{/section}}
<div class="req-form project-form container">
  <div class="row">
    <div class="col-sm-12">
      {{#if eng}}
      <h2>Step 2</h2>
      <form role="form" action="/project-form?code={{code}}&clientId={{clientId}}" method="post" enctype="multipart/form-data">
        <div class="form-group first-row-group">
          <div class="row">
            <input type="hidden" name="client_id" value="{{clientId}}">
            <div class="col-sm-6">
              <label>Site Area*</label>
              <input type="number" name="site_area" placeholder="rqm" class="form-control" id="exampleInputEmail1" required>
            </div>
            <div class="col-sm-3">
              <label>Width*</label>
              <input type="number" name="width" placeholder="rqm" class="form-control" id="exampleInputEmail1" required >
            </div>
            <div class="col-sm-3">
              <label>Depth*</label>
              <input type="number" name="length" placeholder="rqm" class="form-control" id="exampleInputEmail1" required>
            </div>
          </div>
        </div>
        <div class="form-group">

        </div>
        <div class="form-group">

        </div>
        <div class="form-group">
          <label>Site Address*</label>
          <input type="text" name="site_address" placeholder="e.g. simpson avenue 7, san francisco, california" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="form-group">
          <label>Google Earth Coordinate*</label>
          <input type="text" name="coordinate" placeholder="e.g. -7.317558, 112.774324" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="form-group">
          <label>Google Earth Screenshot*</label><br />
          <span class="btn btn-file">
            upload  <input type="file" name="google_earth_file" class="form-control" id="exampleInputEmail1" multiple>
          </span>
           <span class="file-name"></span>
        </div>
        <div class="form-group">
          <label>Design Reference*</label><br />
          <span class="btn btn-file">
            upload   <input type="file" multiple name="design_reference_file" class="form-control" id="exampleInputEmail1">
          </span>
          <span class="file-names"></span>
        </div>
        <div class="form-group">
          <label>Tell Us Your Will*</label>
          <br/>
          <textarea name="content" placeholder="e.g. 2 bedrooms and 1 master bedroom, 1 large kitchen because our family love to cook, a courtyard because we have 2 dogs, only one carport not garage, and a room for playing games" class="form-control"></textarea>
        </div>

        <p class="button-wrapper">
          <button type="submit" class="btn btn-primary req-form-button">Submit</button>
        </p>
      </form>
      {{/if}}

      {{#if ind}}
      <h2>Langkah 2</h2>
      <form role="form" action="/project-form?code={{code}}&clientId={{clientId}}" method="post" enctype="multipart/form-data">
        <div class="form-group first-row-group">
          <div class="row">
            <input type="hidden" name="client_id" value="{{clientId}}">
            <div class="col-sm-6">
              <label>Area*</label>
              <input type="number" name="site_area" placeholder="m²" class="form-control" id="exampleInputEmail1" required>
            </div>
            <div class="col-sm-3">
              <label>Lebar*</label>
              <input type="number" name="width" placeholder="m²" class="form-control" id="exampleInputEmail1" required >
            </div>
            <div class="col-sm-3">
              <label>Kedalaman*</label>
              <input type="number" name="length" placeholder="m²" class="form-control" id="exampleInputEmail1" required>
            </div>
          </div>
        </div>
        <div class="form-group">
        </div>
        <div class="form-group">
        </div>
        <div class="form-group">
          <label>Alamat Site</label>
          <input type="text" name="site_address" placeholder="contoh. jalan merdeka 1 nomor 7, jakarta" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="form-group">
          <label>Koordinat Google Earth*</label>
          <input type="text" name="coordinate" placeholder="contoh. -7.317558 112.774324" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="form-group">
          <label>Screenshot Google Earth*</label><br />
          <span class="btn btn-file">
            upload  <input type="file" name="google_earth_file" class="form-control" id="exampleInputEmail1" multiple>
          </span>
          <span class="file-name"></span>
        </div>
        <div class="form-group">
          <label>Desain Referensi*</label><br />
          <span class="btn btn-file">
            upload   <input type="file" multiple name="design_reference_file" class="form-control" id="exampleInputEmail1">
          </span>
          <span class="file-names"></span>
        </div>
        <div class="form-group">
          <label>Apa yang Anda Inginkan</label>
          <br/>
          <textarea name="content" placeholder="satu kamar tidur dengan kamar mandi yang terbuka ke halaman dalam, satu kamar tidur pembantu beserta kamar mandinya, dan garasi untuk 2 mobil" class="form-control"></textarea>
        </div>
        <p class="button-wrapper">
          <button type="submit" class="btn btn-primary req-form-button">Submit</button>
        </p>
      </form>
      {{/if}}
    </div>
  </div>
</div>

{{#section 'jquery'}}
<script type="text/javascript">
  var filename = function(selector){
    return selector.val().split("\\").pop()
  };
  $(document).ready(function(){
    $('.file-name').parent(".form-group").css("position", "relative");
    $('.file-names').parent(".form-group").css("position", "relative");
    $('body').on('change', 'input[name=google_earth_file]', function(){
      var files = $('input[name=google_earth_file]')[0].files;
      var array = [];
      for (var i = 0; i < files.length; i++){
        array.push(files[i].name);
      };
      $('.file-name').html(array.toString());
    });
    $('body').on('change', 'input[name=design_reference_file]', function(){
      var files = $('input[name=design_reference_file]')[0].files;
      var arr = [];
      for (var i = 0; i < files.length; i++){
        arr.push(files[i].name);
      };
      $('.file-names').html(arr.toString());
    })
  })
</script>

{{/section}}