{{#section 'head'}}
<title>XYZ - Search</title>
{{/section}}
<div class="general-search">
	<form action="/search" method="get">
		<input type="text" name="q" id="q" placeholder="Type Your Word Here"></input>
		<a class="close-button" href="javascript:;"><i class="fa fa-times"></i></a>
	</form>
</div>
<div class="home-header"></div>
{{#section 'jquery'}}
<script type="text/javascript">
	$(document).ready(function(){
		var slideDown = function(){
			$('.general-search').slideDown(500 , function(){
				$(this).css({
					"display" : "block",
				});
			});
			$('.general-header').animate({
				top : "+=66px"
			}, 500, function(){});
		};
		var slideUp = function(){
			$('.general-search').slideUp(500 , function(){
				$(this).css({
					"display" : "none",
				});
				$('#q').val("");
			});
			$('.general-header').animate({
				top : "-=66px"
			}, 500, function(){});
		};
		slideDown();
		$(".main-nav > li > a[href$='/search-intro']").attr('href', 'javascript:;');
		$("body").on('click', ".main-nav > li > a[href$='javascript:;']", function(){
			var genSearch = $('.general-search').css('display');
			if(genSearch == "none"){
				slideDown()
			} else {
				slideUp()
			}
		});
		$('body').on('click', '.close-button', function(){
			slideUp();
		})
	})
</script>
{{/section}}

