{{#section 'head'}}
<title>XYZ - Work</title>
<meta property="og:image" content="{{fullUrl}}"/>
<link rel="stylesheet" href="/css/magnific-popup.css">
{{/section}}
<div class="single porto container">
	<div class="row">
		<div class="col-sm-12">
			<article>
				<img class="post-thumb" src="{{header_image}}" />
				<ul class="post-meta">
					<li><span><a href="/category/search?q={{category.name}}&type=portfolio">{{category.name}}</a></span></li>
					<li><span>{{visitor}} Reads</span></li>
					<li class="total-likers"><span>{{liker}} Likes</span></li>
					<li class="total-comments1"><span>{{totalComment}} Comments</span></li>
				</ul>
				<h2 class="post-title">{{title}}</h2>
				<ul class="porto-details list-unstyled">
					<li>
						<label>Location:</label> {{location}}
					</li>
					<li>
						<label>Area (site/building):</label> {{area}}
					</li>
					<li>
						<label>Year:</label> {{project_year}}
					</li>
					<li>
						<label>Status:</label> {{status}}
					</li>
					<li>
						<label>Architect:</label> {{architect}}
					</li>
				</ul>
				<div class="portfolio-image gallery">
					{{#each portfolioImages}}
					<a href="{{image}}">
						<img src="{{image}}">
					</a>
					{{/each}}
				</div>
				<div  class="content">
					{{{content}}}
				</div>	
			</article>
			<ul class="social-media">
				<li><a href="https://twitter.com/intent/tweet?text={{title}} {{fullUrl}}"><i class="fa fa-twitter"></i></a></li>
				<li><a <a href="https://www.facebook.com/sharer/sharer.php?u={{fullUrl}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
				<li><a href="http://pinterest.com/pin/create/button/?url={{fullUrl}}&media={{header_image}}&description={{title}}" class="pin-it-button" count-layout="horizontal"><i class="fa fa-pinterest"></i></a></li>
				{{#if preferredPage}}
				<li><a href="javascript:;" class="unlike-post" data-id = "{{id}}"><i class="fa fa-heart" style="color : #00bfa5"></i></a></li>
				{{else}}
				<li><a href="javascript:;" class="like-post" data-id = "{{id}}"><i class="fa fa-heart"></i></a></li>
				{{/if}}
			</ul>
			<h3 class="comments-header total-comments2" data-total-comments = "{{totalComment}}">{{totalComment}} Comments | Leave a Comment</h3>
			{{#each rootComments}}
			<ul class="comments">
				<li>
					{{#if ../deleteComment}}
					<form class="comment-delete" action="/portfolio/comment/{{id}}">
						<button type="button" class="close delete" aria-hidden="true">x</button>
					</form>
					{{/if}}
					<img class="avatar" src="{{avatar}}" />
					<a class="reply" href="javascript:;" data-parent-id="{{id}}" >Reply</a>
					<cite class="author">{{name}}</cite>
					<p class="meta"><a href="#comment-224401" title="">{{date}}</a></p>
					<p>
						{{message}}
					</p>
					{{#each comments}}
					<ul class="comments child">
						<li>
							<div class="child-comments" data-id-child-comments="{{id}}"></div>
							{{#if ../../deleteComment}}
							<form id="child-rootComments" class="comment-delete" action="/portfolio/comment/{{id}}">
								<button type="button" class="close delete" aria-hidden="true">x</button>
							</form>	
							{{/if}}
							<img class="avatar" src="{{avatar}}" />
							<cite class="author">{{name}}</cite>
							<p class="meta"><a href="#comment-224401" title="">{{date}}</a></p>
							<p>
								{{message}}
							</p>
						</li>
					</ul>
					{{/each}}
				</li>
			</ul>
			{{/each}}
			<h3 class="comments-header">Leave a Comment</h3>
			<div class="comment-deffault"></div>
			<form class="comment-form" action="/portfolio/{{id}}" method="POST">
				<div class="form-group">
					<input type="hidden" name="parrent_id" class="form-control" id="parentId">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Name*</label>
					<input type="text" class="form-control" name="name" id="name" placeholder="Name" required>
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Email*</label>
					<input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Subject*</label>
					<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Your Message*</label>
					<textarea class="form-control" name="message" required rows="10"></textarea>
				</div>
				<p class="form-submit">
					<button type="submit" class="btn btn-default req-form-button">Submit</button>
					<button type="button" class="btn btn-default btn-back req-form-button" style="display:none;">Cancel</button>
				</p>
			</form>
		</div>
	</div>
</div>

{{#section 'jquery'}}
<script src="/scripts/dependencies/jquery.magnific-popup.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('.gallery').magnificPopup({
			delegate: 'a',
			type: 'image',
			mainClass: 'mfp-with-zoom',
			gallery:{enabled:true},
			zoom: {
				enabled: true,
				duration: 200,
				easing: 'ease-in-out',
				opener: function(openerElement) {
					return openerElement.is('img') ? openerElement : openerElement.find('img');
				}
			}
		});
		$('.content img').each(function(i, element){
			var imageSource = $(element).attr("src");
			if(imageSource.substring(0,1) != "/"){
				imageSource = "/" + imageSource;
				var d = new Date();
				$(element).attr("src", imageSource + "?" + d.getTime());
			};
		});
		$('.content img').each(function(i, element){
			var captionImage = $(element).attr("alt");
			$(element).wrap('<div class="image-wrapper"></div>');
			$('.image-wrapper').append('<div class="caption-image"></div');
			$('.caption-image').append('<hr align="left" />');
			$('.caption-image').append('<p>' + captionImage + '</p>');
		});
		$('#parentId').val(null);
		$('.reply').click(function(e){
			$(".btn-back").css("display", "inline");
			$('form').find("input[type=text], input[type=email], textarea").val("");
			e.preventDefault();
			var that = $(this);
			var parentId = that.attr('data-parent-id');
			$('#parentId').val(parentId);
			that.parent().append($('.comment-form'));	
		});
		$('.btn-back').click(function(e){
			$(".btn-back").css("display", "none");
			$(this).closest('form').find("input[type=text], input[type=email], textarea").val("");
			$('#parentId').val(null);
			$('.comment-deffault').html($('.comment-form'));
		});
		$('body').on('click', '.close .delete', function(e){
			var that = $(this);
			$.confirm({
				title: 'Confirm!',
				content: 'Are you sure want to delete this comment?',
				confirm: function(){
					$.ajax({
						url : that.parent().attr('action'),
						type : 'DELETE',
						complete : function(){
							var totalComments = $('.total-comments2').attr("data-total-comments");
							totalComments = parseInt(totalComments)-1;
							var result1 = totalComments + " Comments";
							var result2 = totalComments + " Comments | Leave a Comment";
							that.closest("li").remove();
							$('.total-comments1').text(result1);
							$('.total-comments2').text(result2);
						}
					})
				},
				cancel: function(){
					return;
				}
			});
		})
		$('body').on('click', '.like-post', function(e){
			var that = $(this);
			var id = that.attr("data-id");
			$.ajax({
				url : '/portfolio/like/' + id,
				type : 'GET',
				complete : function(data){
					var totalLikers = data.responseJSON.likers;
					var result = totalLikers + " Likes";
					$(".fa-heart").css("color", "#00bfa5");
					that.removeClass("like-post");
					that.addClass('unlike-post');
					$('.total-likers').text(result);
				}
			})
		});
		$('body').on('click', '.unlike-post', function(e){
			var that = $(this);
			var id = that.attr("data-id");
			$.ajax({
				url : '/portfolio/like/' + id,
				type : 'GET',
				complete : function(data){
					var totalLikers = data.responseJSON.likers;
					var result = totalLikers + " Likes";
					$(".fa-heart").css("color", "#bdbdbd");
					that.addClass("like-post");
					that.removeClass('unlike-post');
					$('.total-likers').text(result);
				}
			})
		})
	})
</script>

{{/section}}