<section class="content-header">
  <h1 style=" left: 0; top: 0">
    {{pageTitle}}
  </h1>
  <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target=".bs-example-modal-sm"><span class="fa fa-edit"></span>Edit Password</button>
  <div id="update-password" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="row">
          <div class="col-sm-12">
            <div class="box box-primary">
              <div class="box-header with-border">
                <form role="form" name="registrationForm" ng-submit="updatePassword()">
                 <div class="box-body">
                   <h3 class="box-title">Change Password</h3>
                   <br />
                   <div class="form-group">
                    <label for="currentPass">Old Password</label>
                    <input type="password" class="form-control" ng-model="password.oldPass" placeholder="Enter Old" required>
                  </div>
                  <div class="form-group">
                    <label for="newPass">New Password</label>
                    <input type="password" pattern=".{6,}" class="form-control" ng-model="password.newPass" placeholder="Enter New Password" required>
                  </div>
                  <div class="form-group">
                    <label for="newPass">Confirm Password</label>
                    <input type="password" class="form-control" name="confirmPassword" ng-model="password.confirmPass" placeholder="Retype New Password"  required>
                    <p ng-hide="alertForConfirmPassword" style="color : red">New Password and Confirm Password not match</p>
                  </div>
                </div>
                <div class="box-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<section class="content">
  <div class="row">
    <div class="col-sm-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <div ng-hide="hiddenAlertFailed" class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-warning"></i> Failed!</h4>
            {{message.message}}
          </div>
          <div ng-hide="hiddenAlertSuccess" class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-check-circle"></i> Success!</h4>
            {{message.message}}<a href="/login"> Link</a>
          </div>
          <h3 class="box-title">{{formTitle}}</h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form role="form" ng-submit="update()">
          <div class="box-body">
            <div class="form-group">
              <label for="exampleInputFullname1">Fullname</label>
              <input type="text" class="form-control" ng-model="model.fullname" placeholder="Enter Fullname" required>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <input type="email" class="form-control" ng-model="model.email" placeholder="Enter Email" required>
            </div>
            <div class="form-group">
              <label>Profil</label>
              <input type="file" class="form-control" files-model="model.image" ng-model="model.image">
              <p ng-hide="hiddenNameImage" class="help-block">{{model.nama_file_display}}</p>
            </div>
            <div class="form-group">
              <label>Facebook</label>
              <input type="text" class="form-control" ng-model="model.facebook" placeholder="Enter Link Profile Facebook">
            </div>
            <div class="form-group">
              <label>Tumblr</label>
              <input type="text" class="form-control" ng-model="model.tumblr" placeholder="Enter Link Profile Tumblr">
            </div>
            <div class="form-group">
              <label>Twitter</label>
              <input type="text" class="form-control" ng-model="model.twitter" placeholder="Enter Link Profile Twitter">
            </div>
            <div class="form-group">
            <label>Google Plus</label>
              <input type="text" class="form-control" ng-model="model.google_plus" placeholder="Enter Link Profile Google Plus">
            </div>
            <div class="form-group">
              <label for="exampleInputContent1">Description</label>
              <textarea ui-tinymce="tinymceOptions" class="form-control" ng-model="model.description"></textarea> 
            </div>
          </div><!-- /.box-body -->

          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>