<!doctype html>
<html>
<head>
	<title>Verifikasi</title>
</head>
<body>
	<div style="position:relative;width:600px;margin:0 auto">
		<img src="http://xyz-cartel.rhcloud.com/css/images/header-image.jpg" width="100%" />
		<div style="margin-right:40px;margin-left:40px">
			<p style="color:#000;font-family:Serif;font-size:16px">Hello {{{name}}}!</p>
			<p style="color:#000;font-family:Serif;font-size:16px">Thank you for choosing XYZ, you are only half way to make your own space. Please click the link bellow to verifiy your indentity.</p>
			<p style="margin-top:25px;margin-bottom:25px;text-align: center;">
				{{{body}}}
			</p>
			<p style="color:#000;font-family:Serif;font-size:16px">If you didn't request this, please ignore this email. We will automatically attempt to delete your email from our systems.</p>
			<br />
			<p style="color:#000;font-family:Serif;font-size:16px">Sincerely,</p>
			<img src="http://xyz-cartel.rhcloud.com/css/images/xyz-team.jpg">
		</div>
	</div>
</div>
</div>
</body>
</html>