<!doctype html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/AdminLTE.min.css">
</head>
<body>
	<p> Terimakasih telah mengisi biodata. Pastikan biodata yang diisi benar. Jika terdapat kesalahan dalam pengisian data anda bisa klik link berikut <a href="/client-form">klik disini</a></p>
	{{{body}}}
	<script src="/scripts/dependencies/jQuery-2.1.4.min.js"></script>
	<script src="/scripts/dependencies/bootstrap.min.js"></script>
	{{{_sections.jquery}}}

</body>
</html>