<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		Project Request
	</h1>
	<div class="row">
		<div class="col-sm-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Detail Project Request</h3>
					<div class="box-body">
						<p>Name : {{projectRequest.client.name}}</p>
						<p>Email : {{projectRequest.client.email}}</p>
						<p>Birth : {{projectRequest.client.birth | date: 'dd-MMMM-yyyy'}}</p>
						<p>Gender : {{projectRequest.client.gender}}</p>
						<p>Nationality : {{projectRequest.client.nationality}}</p>
						<p>Request Date : {{projectRequest.created_date | date: 'dd-MMMM-yyyy HH:mm'}}</p>
						<p>Site : {{projectRequest.site_address}}</p>
						<p>Site Area : {{projectRequest.site_area}}, Width : {{projectRequest.width}}, Length : {{projectRequest.length}}</p>
						<p>Site Address : {{projectRequest.site_address}}</p>
						<p>Coordinate : {{projectRequest.coordinate}}</p>
						<h4>Request :</h4>
						<p>{{projectRequest.content}}</p>
						<p>Google Screenshot :</p><img ng-src="{{projectRequest.google_earth_file}}" alt="Screenshot location" width="300px" height="300px">
						<p>Design Reference</p>
						<div ng-repeat="design_reference_file in projectRequest.design_reference_file">
							<img ng-src="{{design_reference_file}}" alt="Refence Picture"  width="300px" height="300px">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

