<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		Project Request
	</h1>
	<div class="row">
		<div class="col-sm-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Detail Project Request</h3>
					<div class="box-body detail-project">
						<p><strong>Name</strong> <span>:&nbsp; {{projectRequest.client.name}}</span></p>
						<p><strong>Email</strong> <span>:&nbsp; {{projectRequest.client.email}}</span></p>
						<p><strong>Birth</strong> <span>:&nbsp; {{projectRequest.client.birth | date: 'dd-MMMM-yyyy'}}</span></p>
						<p><strong>Gender</strong> <span>:&nbsp; {{projectRequest.client.gender}}</span></p>
						<p><strong>Nationality</strong> <span>:&nbsp; {{projectRequest.client.nationality}}</span></p>
						<p><strong>Request Date</strong> <span>:&nbsp; {{projectRequest.created_date | date: 'dd-MMMM-yyyy HH:mm'}}</span></p>
						<p><strong>Site</strong> <span>:&nbsp; {{projectRequest.site_address}}</span></p>
						<p><strong>Site Area</strong> <span>:&nbsp; {{projectRequest.site_area}}</span></p>
						<p><strong>Width</strong> <span>:&nbsp; {{projectRequest.width}}</span></p>
						<p><strong>Length</strong> <span>:&nbsp; {{projectRequest.length}}</span></p>
						<p><strong>Site Address</strong> <span>:&nbsp; {{projectRequest.site_address}}</span></p>
						<p><strong>Coordinate</strong> <span>:&nbsp; {{projectRequest.coordinate}}</span></p>
						<p><strong>Request</strong> <span>:&nbsp; {{projectRequest.content}}</span></p>
						<p><strong>Google Screenshot</strong><span>:</span></p>
						<div class="content" style="margin-left:225px !important">
							<ng-gallery images="albumGoogleSS"></ng-gallery>
						</div>
						<p><strong>Design Reference</strong><span>:</span></p>
						<div class="content" style="margin-left:225px !important">
							<ng-gallery images="albumDesignRef"></ng-gallery>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

